{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a class="category-header">홈</a>
</div>

<div style="max-width: 1050px; margin: auto; padding: 0px;">
    <div class="home-grid">
        {% for category, articles in home_articles.items() %}
        <div class="category-box">
            <h3>{{ category }}</h3>
            <ul>
                {% if articles|length != 0 %}
                {% for article in articles %}
                <li>
                    <a href="/article/{{ article['id'] }}" class="article-title-link">
                        {{ article['title'] }}
                    </a>
                    <small class="article-summary article-summary--ellipsis">
                        {{ article['summary'] }}
                    </small>
                </li>
                {% endfor %}
                {% else %}
                <li>해당 카테고리에 오늘자 기사가 없습니다.</li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}