{% extends 'base.html' %}

{% block content %}

<div class="summary-content">
    <h2>어제 요약</h2>

    <!-- 날짜 선택 폼 캘린더로-->
    <form method="get" action="/summary" style="margin-bottom: 20px;">
        <label for="date-input"><strong>날짜 선택:</strong></label>
        <input type="date" name="date" id="date-input" value="{{ selected_date }}">
        <button type="submit">검색
        </button>
    </form>

    {% if selected_summary %}
        <div class="summary-list-item">
            <h3>{{ selected_summary.summary_date }}</h3>
            <div>{{ selected_summary.summary | safe }}</div>
        </div>
    {% else %}
        <p>해당 일자 요약이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
